MyClasslibrary/bin/Debug/netstandard2.0/MyClasslibrary.deps.json
MyClasslibrary/bin/Debug/netstandard2.0/MyClasslibrary.dll
MyClasslibrary/bin/Debug/netstandard2.0/MyClasslibrary.pdb
MyClasslibrary/obj/MyClasslibrary.csproj.nuget.dgspec.json
MyClasslibrary/obj/MyClasslibrary.csproj.nuget.g.props
MyClasslibrary/obj/MyClasslibrary.csproj.nuget.g.targets
MyClasslibrary/obj/project.assets.json
MyClasslibrary/obj/project.nuget.cache
MyClasslibrary/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
MyClasslibrary/obj/Debug/netstandard2.0/MyClasslibrary.AssemblyInfo.cs
MyClasslibrary/obj/Debug/netstandard2.0/MyClasslibrary.AssemblyInfoInputs.cache
MyClasslibrary/obj/Debug/netstandard2.0/MyClasslibrary.assets.cache
MyClasslibrary/obj/Debug/netstandard2.0/MyClasslibrary.csproj.CoreCompileInputs.cache
MyClasslibrary/obj/Debug/netstandard2.0/MyClasslibrary.csproj.FileListAbsolute.txt
MyClasslibrary/obj/Debug/netstandard2.0/MyClasslibrary.csprojAssemblyReference.cache
MyClasslibrary/obj/Debug/netstandard2.0/MyClasslibrary.dll
MyClasslibrary/obj/Debug/netstandard2.0/MyClasslibrary.pdb
MyFirstConsoleApp/obj/MyFirstConsoleApp.csproj.nuget.dgspec.json
MyFirstConsoleApp/obj/MyFirstConsoleApp.csproj.nuget.g.props
MyFirstConsoleApp/obj/MyFirstConsoleApp.csproj.nuget.g.targets
MyFirstConsoleApp/obj/project.assets.json
MyFirstConsoleApp/obj/project.nuget.cache
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.AssemblyInfo.cs
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.AssemblyInfoInputs.cache
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.assets.cache
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.csproj.CopyComplete
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.csproj.CoreCompileInputs.cache
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.csproj.FileListAbsolute.txt
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.csprojAssemblyReference.cache
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.dll
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.exe
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.genruntimeconfig.cache
MyFirstConsoleApp/obj/Debug/netcoreapp3.1/MyFirstConsoleApp.pdb
MyFirstConsoleApp/bin/Debug/netcoreapp3.1/MyClasslibrary.dll
MyFirstConsoleApp/bin/Debug/netcoreapp3.1/MyClasslibrary.pdb
MyFirstConsoleApp/bin/Debug/netcoreapp3.1/MyFirstConsoleApp.deps.json
MyFirstConsoleApp/bin/Debug/netcoreapp3.1/MyFirstConsoleApp.dll
MyFirstConsoleApp/bin/Debug/netcoreapp3.1/MyFirstConsoleApp.exe
MyFirstConsoleApp/bin/Debug/netcoreapp3.1/MyFirstConsoleApp.pdb
MyFirstConsoleApp/bin/Debug/netcoreapp3.1/MyFirstConsoleApp.runtimeconfig.dev.json
MyFirstConsoleApp/bin/Debug/netcoreapp3.1/MyFirstConsoleApp.runtimeconfig.json
